<a href="https://colab.research.google.com/github/hakrosabir/MachineLearningProjectswithKaggle/blob/main/learning_ML_from_kaggle_Decision_Tree_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd

In [28]:
wine_quality_loc =  '/content/winequality.csv'

In [29]:
wine_quality_data = pd.read_csv(wine_quality_loc)

In [30]:
wine_quality_data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [31]:




import pandas as pd

data_path = '/content/winequality.csv'

wine_data = pd.read_csv(data_path)

# dataframe of wine dataset

wine_data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [32]:
# showing the columns of data
wine_data.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [33]:
# printing the missing values from data
wine_data = wine_data.dropna(axis=0)

In [34]:
wine_data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [35]:
wine_data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [36]:


# Selecting the prediction target

y =  wine_data.quality

In [37]:
# choosing the features 

wine_quality_data_features = [ 'density' , 'pH' , 'alcohol', 'volatile acidity','fixed acidity' ]

In [38]:
# for convienace nameing features as X


X  = wine_data[wine_quality_data_features]

In [39]:
X.describe()

           density           pH      alcohol  volatile acidity  fixed acidity
count  1599.000000  1599.000000  1599.000000       1599.000000    1599.000000
mean      0.996747     3.311113    10.422983          0.527821       8.319637
std       0.001887     0.154386     1.065668          0.179060       1.741096
min       0.990070     2.740000     8.400000          0.120000       4.600000
25%       0.995600     3.210000     9.500000          0.390000       7.100000
50%       0.996750     3.310000    10.200000          0.520000       7.900000
75%       0.997835     3.400000    11.100000          0.640000       9.200000
max       1.003690     4.010000    14.900000          1.580000      15.900000

In [40]:
X.head()   # this method shows the top five rows of the data

   density    pH  alcohol  volatile acidity  fixed acidity
0   0.9978  3.51      9.4              0.70            7.4
1   0.9968  3.20      9.8              0.88            7.8
2   0.9970  3.26      9.8              0.76            7.8
3   0.9980  3.16      9.8              0.28           11.2
4   0.9978  3.51      9.4              0.70            7.4

In [41]:
# Building Model using Scikit-Learn
# Scikit-learn is easily the most popular library for modeling the types of typically stores in the DataFrames.

DecisionTreeRegressor(random_state=1)

The Steps required to build the ML model are:
1. **Define** : What type of model will it be? A decision tree? or other? also some parameters are specified too.
2. **fit** : Capturing the data from provided data. This is the heart of modeling.
3. **Predict**: Just What it sounds like
4. **Evaluate** : Determine how accurate the model's predictions are.

In [46]:
import sklearn
from sklearn.tree import DecisionTreeRegressor

# 1. Define Model


wine_quality_model = DecisionTreeRegressor(random_state=1)


#2. Fit Model

wine_quality_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [47]:
# Making Prediction for the following 5 quality of wines

In [48]:
print(X.head())

   density    pH  alcohol  volatile acidity  fixed acidity
0   0.9978  3.51      9.4              0.70            7.4
1   0.9968  3.20      9.8              0.88            7.8
2   0.9970  3.26      9.8              0.76            7.8
3   0.9980  3.16      9.8              0.28           11.2
4   0.9978  3.51      9.4              0.70            7.4

In [51]:
print('The predictions are:')
print(wine_quality_model.predict(X.head()))

The predictions are:
[5. 5. 5. 6. 5.]